<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TS</title>
</head>

<body style="background-color: #1d1d1d;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh">
        <p style="color: white; text-align: center; font-size: 36px;">Hello TypeScript</p>
        <ul style="color: white; text-align: center; font-size: 28px; padding: 0; margin: 8;">
            <% todos.forEach(todo => { %>
                <li><%= todo.value %></li>
            <% }); %>
        </ul>
    </div>
</body>

</html>